/* THIS IS FROM THE ASPOSE WORD TO HTML WEBSITE */
/* General page css */
body {
  line-height: 108%;
  font-family: Calibri;
  font-size: 11pt;
}
p {
  margin: 0pt 0pt 8pt;
}
li {
  margin-top: 0pt;
  margin-bottom: 8pt;
}
.ListParagraph {
  /* margin-top: -8pt; */
  margin-left: 36pt;
  margin-bottom: 8pt;
  line-height: 108%;
  font-size: 12pt;
  text-indent: -1.7em;
}
span.Hyperlink {
  text-decoration: underline;
  color: #0000ff;
}
span.UnresolvedMention {
  /*from L08 Notes*/
  color: #605e5c;
  background-color: #e1dfdd;
}
/* End of general page css */
/* START OF SPECIFIC CSS FOR L10 NOTES PAGE*/
.p4 {
  /*used in both*/
  line-height: 108%;
  font-size: 12pt;
}
.span13 {
  /*used in both*/
  font-family: "Times New Roman";
}
.inbl1 {
  /*used in both*/
  width: 30.69pt;
  display: inline-block;
}
.sp-inbl7 {
  /*used in both*/
  width: 36pt;
  display: inline-block;
}
.w15inbl1 {
  /*used in both*/
  width: 15.69pt;
  display: inline-block;
}
.lh108-p1 {
  /*used in both*/
  text-align: center;
  line-height: 108%;
  font-size: 20pt;
}
.rom-bld24 {
  /*used in both*/
  font-family: "Times New Roman";
  font-weight: bold;
}
.lh108-p2 {
  /*used in both*/
  text-align: center;
  line-height: 108%;
  font-size: 13.5pt;
}
.sp-treb1 {
  font-family: "Trebuchet MS";
  color: #3e3e3e;
  background-color: #ffffff;
}
.txtdec2 {
  /*used in both*/
  text-decoration: none;
}
.sp-treb2 {
  /*used in both*/
  font-family: "Trebuchet MS";
  text-decoration: underline;
  color: #0000ff;
  background-color: #ffffff;
}
.rom108bld1 {
  /*used in both & used it 2'ce by adding "-aw-import: spaces;" 1 time below*/
  line-height: 108%;
  font-family: "Times New Roman";
  font-size: 12pt;
  font-weight: bold;
}
.bkmk1-23 {
  /*used in both*/
  -aw-bookmark-end: _Hlk101792923;
}
.bkmk1-18 {
  -aw-bookmark-end: _Hlk103187618;
}
.ListParagraph .marg-aw11 {
  /*used in both*/
  margin-bottom: 0pt;
  text-indent: -18pt;
  line-height: 108%;
  font-size: 12pt;
  -aw-import: list-item;
  -aw-list-level-number: 0;
  -aw-list-number-format: "-";
  -aw-list-number-styles: "bullet";
  -aw-list-padding-sml: 14pt;
}
.bkmk1-69 {
  /*used in both*/
  -aw-bookmark-end: _Hlk102776269;
}
.sp-ign17 {
  /*used in both*/
  -aw-import: ignore;
}
.rom-inl16 {
  /*used in both*/
  width: 14pt;
  font: 7pt "Times New Roman";
  display: inline-block;
  -aw-import: spaces;
}
.lh108-sp8 {
  /*used in both*/
  line-height: 108%;
  font-size: 11pt;
}
.ListParagraph .txt-ind3 {
  margin-bottom: 0pt;
  text-indent: -18pt;
  -aw-import: list-item;
  -aw-list-level-number: 0;
  -aw-list-number-format: "-";
  -aw-list-number-styles: "bullet";
  -aw-list-padding-sml: 14pt;
}
.rom12bld4 {
  font-family: "Times New Roman";
  font-size: 12pt;
  font-weight: bold;
}
.fs7va-super {
  line-height: 108%;
  font-size: 7.33pt;
  vertical-align: super;
}
.fwbld5 {
  font-weight: bold;
}
.ListParagraph .taw1 {
  text-indent: -18pt;
  -aw-import: list-item;
  -aw-list-level-number: 0;
  -aw-list-number-format: "-";
  -aw-list-number-styles: "bullet";
  -aw-list-padding-sml: 14pt;
}
.ListParagraph .tlfa1 {
  text-indent: -18pt;
  line-height: 108%;
  font-size: 12pt;
  -aw-import: list-item;
  -aw-list-level-number: 0;
  -aw-list-number-format: "-";
  -aw-list-number-styles: "bullet";
  -aw-list-padding-sml: 14pt;
}
.tac1 {
  text-align: center;
}
/* END OF SPECIFIC CSS FOR L10 NOTES PAGE */
/* START OF SPECIFIC CSS FOR L08 NOTES PAGE */
.awim-1 {
  -aw-import: spaces;
}
.margb-10 {
  margin-bottom: 0pt;
  line-height: 108%;
  font-size: 12pt;
}
.fonnorm1 {
  font-weight: normal;
}
.romund-5 {
  font-family: "Times New Roman";
  text-decoration: underline;
}
.mlb-13 {
  margin-bottom: 0pt;
  line-height: 14.25pt;
  background-color: #0e1114;
}
.consol-36 {
  font-family: Consolas;
  font-size: 10.5pt;
  color: #aeb9c4;
}
.consol-10 {
  font-family: Consolas;
  font-size: 10.5pt;
  color: #addbbc;
}
mmlpfaaa-3 {
  margin-left: 66.2pt;
  margin-bottom: 0pt;
  line-height: 108%;
  padding-left: 5.8pt;
  font-family: serif;
  font-size: 12pt;
  -aw-font-family: "Courier New";
  -aw-font-weight: normal;
  -aw-number-format: "o";
}
.marpad-1 {
  margin: 0pt;
  padding-left: 0pt;
}
.consol-1 {
  font-family: Consolas;
  font-size: 10.5pt;
  color: #6ba77f;
}
.consol-3 {
  font-family: Consolas;
  font-size: 10.5pt;
  color: #e6eaef;
}
.consolwh-3 {
  font-family: Consolas;
  font-size: 10.5pt;
  color: #bed0e2;
}
.consol-2 {
  font-family: Consolas;
  font-size: 10.5pt;
  color: #228a96;
}
.aaaaa-1 {
  -aw-left-pos: 0pt;
  -aw-rel-hpos: column;
  -aw-rel-vpos: paragraph;
  -aw-top-pos: 0pt;
  -aw-wrap-type: inline;
}
.margbtm-1 {
  margin-bottom: 0pt;
  text-align: center;
  line-height: 108%;
  font-size: 13.5pt;
}
.lfff-1 {
  line-height: 108%;
  font-family: "Times New Roman";
  font-size: 12pt;
  font-weight: bold;
}
.fta-2 {
  font-family: "Times New Roman";
  -aw-import: ignore;
}
.lffv-1 {
  line-height: 108%;
  font-family: "Times New Roman";
  font-size: 8pt;
  vertical-align: super;
}
.mtlf-1 {
  margin-bottom: 0pt;
  text-align: center;
  line-height: 108%;
  font-size: 12pt;
}
#res-ind, #pub-ind, #priv-ind, #span-ind-1 {
  margin-left:25px;
}
